# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
outputs/logs/

# # Generated predictions and metrics
# outputs/predictions/
# outputs/metrics/

# Python packaging
build/
dist/
*.egg-info/

# Environment files
.env